* {
    box-sizing: border-box;
    text-decoration: none;
}
html {
     background-image: linear-gradient(to left, rgba(0,0,0,.9) 0%, rgba(0,0,0,.4) , white 40%, white 90%, #333 90%, #333 100%);
}
body {
    font-family: "Palatino Linotype", "Times New Roman", serif;
    color: #333;
    background: url(../img/model.jpg) no-repeat top center;
    background-size: 100%;
   
}

.logo {
    font-family: Candara, sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin: 2% 10% 0 20%;
    float: left;
}
nav li {
    display: inline;
}
nav>ul>li>a {
    display: inline-block;
    color: #333;
    text-transform: uppercase;
    margin: 15px;
    padding-top: 15px;
}
nav>ul>li>a:hover {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    -o-transform: scale(1.5);
    transform: scale(1.5);
    font-weight: 900;
}
.icon {
    display: none;
}
.caption {
    clear: left;
    margin: 10%;
    text-align: center;
}
.caption h1 {
    font-family: 'Dancing Script', cursive;
    padding: 40px;
    font-size: 50px;
}
.caption h1 span {
    font-family: "Palatino Linotype", "Times New Roman", serif;
    display: block;
    font-style: normal;
    text-transform: uppercase;
}
.btn {
    border: 1px solid #333;
    box-shadow: 0 0 8px 2px rgba(0,0,0,.75);
    padding: 5px 10px;
    width: 200px;
    margin: 5px;
    color: #7d746d;
    display: inline-block;
}
.btn:hover {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.skills {
    margin: 10% 0;
    display: flex;
}
.skill {
    border: 4px solid;
    margin: 5%;
    padding: 50px;
    background: rgba(255,255,255, 0.8);
    
}
.skill h2 {
    font-weight: 800;
    padding-bottom: 20px;
    font-size: 20px;
}
main {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.content {
    background: #bbbbbb;
    padding: 0 10%;
    margin-top: 10%;
}
.content img {
    float: left;
    padding: 10px;
    width: 60%;
}
.content h3 {
    padding: 100px 0 40px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}
.content p {
    padding-bottom: 5%;
}
.content a {
    
    background: #fff;
}
.content-text {
    clear: left;
    background: #000;
    color: #fff;
}
.content-text img{
    float: right;
    margin-right: 10%;
    width: 30%;
    padding: 10px;
}
.content-text p {
    padding: 10%;
}
.links {
    margin-top: 10%;
    display: flex;
}
.link {
    padding: 2%;
    margin: 20px 10%;
    border: 4px solid;
}
.link h2 {
    text-transform: uppercase;
    padding: 20px;
}
.link p {
    font-family: 'Dancing Script', cursive;
}
.form {
    clear: right;
    margin-top: 4%;
}
.form form {
    border: 4px solid;
    width: 40%;
    margin: 0 auto;
    box-shadow: 0 0 8px 2px rgba(0,0,0,.75);
}
.form>p {
    padding: 2%;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}
.form form input {
    display: block;
    margin: 2% auto;
    padding: 2%;
    border: 1px solid;
    font-family: "Palatino Linotype", "Times New Roman", serif;
    width: 80%;
    text-align: center;
}
.form form input:focus {
    box-shadow: 0 0 8px 2px rgba(0,0,0,.75);
}
.form form textarea {
    margin: 2%;
    border: 1px solid;
    width: 80%;
}
.form form textarea:focus {
    box-shadow: 0 0 8px 2px rgba(0,0,0,.75);
}
.form button {
    padding: 2%;
    margin: 2%;
    font-family: "Palatino Linotype", "Times New Roman", serif;
    background: #333;
    color: #fff;
    width: 80%;
}
footer {
    background: #000;
    color: #fff;
    margin-top: 2%;
    padding: 2%;
}




@media screen and (max-width: 1030px) {
	nav>ul>li>a {
		display: none;
	}
    a.icon {
		float: right;
		display: block;
        font-size: 30px;
        color: #333;
	}
    .skills {
        display: inline-block;
        margin: 10% 0 0 0;
    }
    .links {
    margin-top: 5%;
    display: inline-block;
    }
    .caption h1 {
        font-size: 35px;
    }
    .logo {
        font-size: 35px;
    }
    .form form {
    width: 50%;
    }
}
	

